.hero {
  display: flex;
  text-align: center;
  position: relative;
  flex-direction: column;
  background-color: #ffc500;
  min-height: 500px;
}

.hero h1 {
  font-size: 3rem;
  margin-top: 80px;
  margin-bottom: 20px;
}

.hero h2 {
  margin-bottom: 80px;
}

.hero p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 70px;
}

.content {
  gap: 20px;
}

.hero .form-control {
  width: 40%;
  height: 48px;
  border-radius: 8px;
  font-weight: lighter;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  line-height: 20px;
  border: 1px solid rgb(153, 153, 153);
  padding: 20px;
  margin-right: 20px;
}

.hero button {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  font-size: 0.8rem;
  padding: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.error {
  font-size: 14px;
  color: red;
}
