.footer {
  display: flex;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(28, 28, 28);
  color: #ffc500;
}

.container a {
  text-decoration: none;
  color: #2386f0;
}
